model:
  agent:
    provider: openai
    name: ${OPENAI_MODEL_TEXT}
    api_base: ${OPENAI_BASE_URL}
    api_key: ${OPENAI_API_KEY}
  format:
    name: ${OPENAI_MODEL_FORMAT}

logging:
  level: DEBUG
