model:
  agent:
    provider: openai
    name: ${OPENAI_MODEL_TEXT}
    api_base: ${OPENAI_BASE_URL}
    api_key: ${OPENAI_API_KEY}

logging:
  level: DEBUG

remote_agent:
  market_agent:
    url: http://localhost:8000
  director_agent:
    url: http://localhost:8001
  evaluate_agent:
    url: http://localhost:8002
  release_agent:
    url: http://localhost:8003
