model:
  agent:
    provider: openai
    name: ${OPENAI_MODEL_TEXT}
    api_base: ${OPENAI_BASE_URL}
    api_key: ${OPENAI_API_KEY}
  video:
    name: ${OPENAI_VIDEO_MODEL}
    api_base: ${OPENAI_BASE_URL}
    api_key: ${OPENAI_API_KEY}
  image:
    name: ${OPENAI_IMAGE_MODEL}
    api_base: ${OPENAI_BASE_URL}
    api_key: ${OPENAI_API_KEY}
  format:
    name: ${OPENAI_MODEL_FORMAT}

shorten_url_service_url: http://127.0.0.1:8005

logging:
  level: DEBUG
